<div class="container" xmlns="http://www.w3.org/1999/html">
    <!--Naked Form-->
    <div class="card-block">
        <!--Header-->
        <div class="text-center"><img alt="foo" src="images/graphic.png"></div>
        <br>
        <div class="text-center">
            <h3>Create Account & Image Verification</h3>
        </div>
        <!--Body-->
        <div id="image_verification_header">Image Verification is required for all Seller Olympus accounts to ensure the
            content in our forum is coming from successful Amazon Sellers only. Thank you for your support!
        </div>
        <hr class="mt-1 mb-1">
        <h4>Seller Olympus Account Details</h4><br>
        <!--Body-->
        <form id="idForm" method="post" name="idForm" autocomplete="off">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input class="form-control" id="form_full_name"
                       name="fullName" type="text" autocomplete="off" required>
                <label for="form_full_name">Username</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input class="form-control" id="form_email" name="emailAddress"
                       type="text" autocomplete="off" required>
                <label for="form_email">Email Address</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input class="form-control" id="form_password" name="password"
                       type="password" autocomplete="off" required>
                <label for="form_email">Password</label>
            </div>
            <br>
            <h4 id="image_verfication_text">Image Verification</h4>
            <span id="image_verification_info">Please take a screenshot of your sales in your Amazon Seller Dashboard. We analyze these images to ensure authenticity.</span>
            <div class="md-form ">
                <div>
                    <!-- filename to display to the user -->
                    <p id="file-name" class="margin-10 bold-10"></p>

                    <!-- Hide this from the users view with css display:none; -->
                    <input class="display-none" id="file-type" type="file" size="4" name="fileUpload"/>

                    <!-- Style this button with type image or css whatever you wish -->
                    <input id="browse-click" type="button" class="btn btn-default" value="Browse for files" required/>

                </div>
            </div>
            <div class="text-center">
                <div class="overlay">
                    <div id="loading-img"></div>
                </div>
                <div id="disabled-button-wrapper" data-placement="right" data-toggle="tooltip"
                     data-title="Enter all fields and upload verification image to submit">
                    <input type="submit" class="btn btn-primary" id="mainSubmit" disabled>
                </div>
            </div>
        </form>
    </div>
    <!--Naked Form-->
</div>
<div class="bd-example bd-example-padded-bottom">
    <button class="btn btn-primary btn-lg" data-target="#gridSystemModal" data-toggle="modal" hidden="hidden"
            id="idSubmit" type="button"></button>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="gridModalLabel" class="modal fade" id="gridSystemModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="main-title">Success - Submitted for Approval</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    Our team will review your application and reply to the email you provided.<br><br>Thank you!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button class="btn btn-primary" id="viewLabel" type="button">VIEW LABEL</button>-->
            </div>
        </div>
    </div>
</div>