<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='MDBootstrap/css/mdb.min.css' />
    <link rel='stylesheet' href='MDBootstrap/css/mdb.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    {{{body}}}
    <script src="MDBootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="MDBootstrap/js/tether.min.js"></script>
    <script src="MDBootstrap/js/bootstrap.min.js"></script>
    <script src="MDBootstrap/js/mdb.min.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
